.pagina404{
    &__titulo{
        @include baseTitulo(2.6vw);

    }
    &__subTitulo{
        @include baseTitulo(1.5vw);

    }    
    &__boton{ 
        display: flex;
        justify-content: center;
        
        &__link{
        text-decoration: none;
        color: $colortitulos;
        width: 180px;
        background-color: $fondoCeleste;
        padding: 15px;
        text-align: center;
        padding: 10px;
        margin: 10px;
        @include baseBoton();

    }
    

    }
    &__imagen{
        display: flex;
        width: 60%;
        max-width: 600px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}