.header{
    background:$fondoCeleste ;
    color: $textoParaFondo;
    .header__banner{
        width: 95%;
        margin-left: 2%;
        margin-top: 7px;
    }
    .header__navbar{
        margin-left: 2%;

    }
   
    
}